.container {
    text-align: center;
    width: 80vw;
    margin-inline: auto;
}

@media (min-width: 1700px) {
    .container {
        text-align: center;
        width: 80vw;
        margin-inline: auto;
    }
}

section {
    height: 100dvh;
}
