:root{
    --rem: 1rem;
}

.container {
    text-align: center;
    margin-inline: auto;
    box-sizing: border-box;
}

@media (max-width: 740px) {
    :root{
        font-size: 10px;
    }
    .container {
        max-width: 95vw;
    }
}
@media (min-width: 740px) and (max-width: 1230px) {
    :root{
        font-size: 16px;
    }
    .container {
        max-width: 95vw;
    }
}
@media (min-width: 1230px) {
    :root{
        font-size: 24px;
    }
    .container {
        max-width: 1200px;
        padding: 0 42px;
    }
}

section {
    min-height: 100dvh;
    margin-top: 8rem;
    box-sizing: border-box;
}
section:first-child {
    margin-top: 0;
}