.container {
    text-align: center;
    max-width: 960px;
    padding: 0 42px;
    margin-inline: auto;
    box-sizing: border-box;
}

@media (min-width: 1700px) {
    .container {
        max-width: 1240px;
    }
}
@media (min-width: 2080px) {
    .container {
        /*max-width: 1960px;*/
    }
}

section {
    min-height: 100dvh;
}